<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Basic Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Kentuckiana Marching Pride is a dynamic LGBTQIA+ marching band lighting up the streets of Louisville and Southern Indiana." />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Kentuckiana Marching Pride" />
    <meta property="og:description" content="We’re loud, proud, and unstoppable. Join us for unforgettable performances and community connection." />
    <meta property="og:image" content="https://kentuckianamarchingpride.com/assets/images/a.webp" />
    <meta property="og:url" content="https://kentuckianamarchingpride.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Kentuckiana Marching Pride" />
    <meta name="twitter:description" content="Marching forward with rhythm, pride, and community." />
    <meta name="twitter:image" content="https://kentuckianamarchingpride.com/assets/images/a.webp" />

    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="KMP" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  